@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;
}

body {
  font-family: Circular Pro Book,sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  display: grid;
  /* justify-content: center; */
  background-color: #1c1c21;
}

.header-nav {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 5% 1fr 1fr 5%;
  margin-top: 40px;
  z-index: 9;

  .logo {
    position: relative;
    grid-column-start: 2;
    justify-self: start;
    text-decoration: none;
    color: #fff;
  }

  .resume-link {
    text-decoration: none;
    position: relative;
    grid-column-start: 3;
    border-radius: 50px;
    height: 30px;
    background-color: #2c71f6;
    justify-self: end;
    padding: 0 10px 0 10px;
    padding-top: 7px;
    color: #fff;
  }
}

.name-plate {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

// Slider animations
// -----------------------------------------

.technicals {
  width: 100%;
  position: relative;
}

// .slider {
//   overflow: hidden;
//   position: relative;
//   // box-shadow: 0 10px 20px -5px rgba(0,0,0,0.5);
//   margin: auto;
//   // width: var(--screenWidth, 0);
//   width: 100vw;
//   display: grid;
//   place-items: center;
// }

.slider {
  overflow: hidden;
  position: absolute;
  width: inherit;
}

// .slider::before, .slider::after {
//   content: '';
//   position: absolute;
//   z-index: 2;
//   width: 200px;
//   height: 100px;
// }

// .slider::before {
//   top: 0;
//   left: 0;
// }

// .slider::after {
//   top: 0;
//   right: 0;
//   transform: rotateZ(180deg);
// }

.slider .slider-track {
  display: flex;
  width: calc(100px * 15 * 2);
  animation: scroll 10s infinite linear;
}

.slide {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    margin-bottom: 10px;
  }

  svg {
    width: 100%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100px * 15));
  }
}

// Spotlight
// -----------------------------------------

.find-me {
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  margin-top: 100px;
  height: 100vh;

  &_title {
    height: 200px;
    display: flex;
    place-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
  }

  &_details {
    height: 200px;
    display: flex;
    place-items: center;
    justify-content: center;
    color: white;
    flex-flow: column;
  }
}

.cursor {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  // transform: translate(-50%, -50%);
  // transition: transform .2s;
  // z-index: 999;
  pointer-events: none;
  background: #fff;

  &.inverted {
    &-active {
      mix-blend-mode: difference;
      animation: grow .5s, pulse 2s infinite .5s;
    }
  
    &-inactive {
      animation: shrink .5s forwards;
    }
  
    @keyframes grow {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(150);
      }
    }

    @keyframes shrink {
      0% {
        transform: scale(var(--scale, 0));
      }
      100% {
        transform: scale(0);
        background: #1c1c21;
      }
    }
    
    @keyframes pulse {
      0% {
        transform: scale(150);
      }
      50% {
        transform: scale(200);
      }
      100% {
        transform: scale(150);
      }
    }
  }
}
