@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;
}

body {
  font-family: Circular Pro Book,sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  display: grid;
  /* justify-content: center; */
  background-color: #1c1c21;
}

.header-nav {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 5% 1fr 1fr 5%;
  margin-top: 40px;
  z-index: 9;

  .logo {
    position: relative;
    grid-column-start: 2;
    justify-self: start;
    text-decoration: none;
    color: #fff;
    align-self: center;
  }

  .resume-container {
    display: flex;
    position: relative;
    grid-column-start: 3;
    justify-self: end;
    align-items: center;

    .blob {
      border-radius: 50%;
      margin: 10px;
      height: 20px;
      width: 20px;
      transform: scale(1);
      background: rgba(52, 172, 224, 1);
	    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
	    animation: pulse-blue 2s infinite;
    }

    @keyframes pulse-blue {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
      }
      
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
      }
      
      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
      }
    }

    .resume-link {
      text-decoration: none;
      border-radius: 50px;
      height: 30px;
      background-color: #2c71f6;
      padding: 0 10px 0 10px;
      padding-top: 7px;
      color: #fff;
    }
  }
}

.name-plate {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

// Slider animations
// -----------------------------------------

.technicals {
  width: 100%;
  position: relative;
  background-color: #e3e3dd;
  text-align: center;
  // padding-top: 20px;
  line-height: 32px;
  height: 100vh;
  display: grid;
  grid-template-rows: 75% 1fr;
  z-index: 2;

  &_title {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 4vw;
  }

  .slider-container {
    width: inherit;

    .slider {
      overflow: hidden;
      position: absolute;
      width: inherit;
      background-color: #e3e3dd;
      // padding: 50px 0 50px 0;
    }
    
    .slider .slider-track {
      display: flex;
      width: calc(100px * 15 * 2);
      animation: scroll 10s infinite linear;
    }
    
    .slide {
      width: 100px;
      height: 125px;
      display: flex;
      align-items: center;
      flex-direction: column;
    
      span {
        margin-bottom: 10px;
      }
    
      svg {
        width: 100%;
      }
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(calc(-100px * 15));
      }
    }
  }
}

// Spotlight
// -----------------------------------------

.find-me {
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  // padding-top: 100px;
  height: 100vh;
  z-index: 3;

  &_title {
    height: 200px;
    display: flex;
    place-items: center;
    justify-content: center;
    color: white;
    font-size: 4vw;
  }

  &_details {
    height: 200px;
    display: flex;
    place-items: center;
    justify-content: center;
    color: white;
    flex-flow: column;
  }
}

.cursor {
  position: fixed;
  // display: inline-block;
  border-radius: 50%;
  background: #1c1c21;
  width: 1px;
  height: 1px;
  top: 50%;
  right: 50%;
  // transition: transform .2s ease, opacity .2s ease, border-color .2s ease, background-color .2s ease;
  pointer-events: none;
  z-index: 9;

  &.inverted {
    &-active {
      background: #fff;
      mix-blend-mode: difference;
      animation: grow .5s, pulse 1s infinite .5s;
    }
  
    &-inactive {
      animation: shrink .5s forwards;
    }
  
    @keyframes grow {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(200);
      }
    }

    @keyframes shrink {
      0% {
        transform: scale(200);
      }
      100% {
        transform: scale(0);
        background: #1c1c21;
      }
    }
    
    @keyframes pulse {
      0% {
        transform: scale(200);
      }
      50% {
        transform: scale(250);
      }
      100% {
        transform: scale(200);
      }
    }
  }
}
